@import '../../scss/variables';

.item-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .paper {
    border: 4px solid $color-orange;
    border-radius: 15px;
    padding: 2px 4px 3px;
    background: white;
    width: 30%;
    text-align: center;

    .icon {
      color: green;
      font-size: xx-large;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}