@import '../../scss/variables';

.header {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: $color-pink;
  //background-color: $color-purple;
  z-index: 9999;

  .logo-container {
    img {
      height: $size-header;
      width: 220px;
      background-color: $color-pink;
      //background-color: $color-purple;
      border-radius: 50%;
    }
  }

  .options {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 20px 0px 0px;

    .option {
      font-size: 18px;
      font-weight: 500;
      padding: 10px 15px;
      margin: 5px;
      cursor: pointer;
    }
  }

  .line-bottom {
    border-bottom: solid 5px $color-purple;
    //border-bottom: solid 5px $color-pink;
  }

  @media only screen and (max-width: 600px)  {
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: relative;

    .options {
      width: 100%;
      flex-wrap: wrap;

      .option {
        width: 100%;
        padding: 15px 20px !important;
        border-bottom: 1px solid #9a9494;

        &:first-child {
          border-top: 1px solid #9a9494;
        }
      }
    }
  }
}

.header-behind {
  width: 100%;
  height: $height-header;
  top: 0;
  background-color: $color-pink;
  //background-color: $color-purple;
  position: absolute;
}