@import './scss/variables';

body {
  font-family: 'Montserrat', sans-serif;
  padding-top: $size-header;
  background-color: $color-blue;

  @media only screen and (max-width: 600px) {
    padding-top: 0px;
  }
}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;;
}

.container {
  padding: 1.2rem 3.8rem;
}

.float-r{
  float: right;
}

.float-l{
  float: left;
}