@import '../../scss/variables';

.about {
  background-color: $color-blue;

  .about-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;

    .about-founder {
      display: inline-flex;
      
      .bartira-img {
        width: 380px;
        height: 250px;
      }

      .description {
        padding: 10px;
      }

      @media only screen and (max-width: 600px) {
        display: block;

        .bartira-img {
          width: 100%;
        }
      }
    }
  }
}