@import '../../scss/variables';

.card {
  width: 33%;
  height: 100%;
  margin: 15px;
  padding-bottom: 10px;
  transition: all .2s ease-in-out !important;

  .card-description {
    border-bottom: 1px solid black;

    .card-link {
      text-align: left;
      padding-bottom: 5px;

      a {
        font-weight: 700;
        color: $color-pink;
        cursor: pointer;

        &:hover {
          color: $color-pink;
          opacity: .5;
        }
      }
    }
  }

  .card-price {
    font-size: 28px;
    padding-top: 20px;
  }

  .hide {
    display: none;
  }

  &:hover {
    transform: scale(1.1);
  }

  .btn-container {
    display: inline-flex;
    justify-items: center;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    margin: 15px;
  }
}